html, body {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}
body{
    border-right: 10px solid grey;
    border-left: 10px solid grey;
    margin-right: 10%; 
    margin-left: 10%; 
    background: #479F6D;

}
h2 {
    border: 10px solid none;
    border-bottom: 7px solid grey;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

#loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100%;

    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background: #699E78;
}

#adsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    
    border: 2px solid grey;
    border-radius: 10px;
    margin-right: 15px;
    background: #8B9D83;
    
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    flex-grow: 2;
    background: ;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px rgb(151, 151, 151);
    width: fit-content;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;
}

a:link {
    background-color: grey;
}
  
a:hover {
    background-color: rgba(128, 128, 128, 0.562);
}

a:active {
    background-color: rgba(231, 66, 1, 0.603);
} 

li {
    list-style-type: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    width: max-content;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
}