html, body {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}
body{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    border-right: 10px solid grey;
    border-left: 10px solid grey;
    margin-right: 10%; 
    margin-left: 10%; 
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(30,157,33,1) 8%, rgba(28,119,31,1) 50%, rgba(30,157,33,1) 92%, rgba(255,255,255,1) 100%);
}
h2 {
    border: 10px solid none;
    border-bottom: 7px solid grey;
    width: max-content;
}

.container{
    display: inline;
    text-align: center;
}

#loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
    width: 300px;
    height: max-content;

    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 7px;
    margin-bottom: 15px;
    background: #699E78;
}

#adsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    height: max-content;
    width: 65%;
    
    border: 2px solid grey;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 7px;
    background: #8B9D83;
    
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    flex-grow: 2;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px rgb(151, 151, 151);
    width: fit-content;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;
}

a:link {
    background-color: grey;
}
  
a:hover {
    background-color: rgba(128, 128, 128, 0.562);
}

a:active {
    background-color: rgba(231, 66, 1, 0.603);
} 

li {
    list-style-type: none;
    height: 60px;
    width: 150px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin: 0; 
}

.ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 10px;
}